<style>
  .message-content{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .message-content .cabecalho{
    width: 100%;
    padding: 0.75rem 1rem;
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cabecalho h2{
    color: #fff;
    font-size: 20px;
  }
  .textos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    flex-direction: column;
  }

  .textos h3{
    color: black;
    font-family: 18px;
  }
</style>

<div class="message-content">
  <div class="cabecalho">
    <h2>API Vendas</h2>
  </div>
  <div class="textos">
    <h3>Redefinição de Senha </h3>
    <p>Olá {{name}}, recebemos uma solicitação de redefinição de senha para seu usuário</p>
    <p>Se realmente você solicitou a redefinição, clique no link abaixo</p>
    <p>
      <a href="{{link}}"> Mudar Senha </a>
    </p>
    <p> Caso não tenha realizado a solicitação, descarte este email</p>
    <p>Obrigado !!!</p>
    <p>Equipe API Vendas</p>
  </div>
</div>
